:root {
    --primary-color: hsl(345, 95%, 68%);
    --text-color: hsl(237, 18%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(235, 61%, 40%);
    font-size: 14px;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.attribution {
    position: absolute;
    font-size: 14px;
    text-align: center;
    color: rgb(225, 35, 35);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

.hills {
    position: absolute;
    bottom: 0;
}

.container {
    background-image: url(./images/bg-stars.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;
}

.countdown {
    display: flex;
    z-index: 100;
}

.countdown h3 {
    color: var(--text-color);
    text-align: center;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.countdown p {
    background-color: hsl(236, 49%, 46%);
    padding: 36px;
    color: var( --primary-color);
    border-radius: 3px;
    font-weight: 700;
    font-size: 50px;
    min-width: 130px;
    margin: 5px 10px;
}

h1 {
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}


/* socials */

.socials {
    position: absolute;
    bottom: 30px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%)
}

.socials ul {
    display: flex;
}

.socials ul li {
    margin: 0 20px;
}

.socials li:hover img {
    color: var(--primary-color);
}


/* button */

.Button_create {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40%;
    padding: 10px;
    background-color: hsl(236, 21%, 26%);
    border: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}

.Button_create:hover {
    background-color: hsl(240, 5%, 44%);
    color: #e9b0be;
    cursor: pointer;
}

.btn_accept,
.btn_refuse {
    padding: 5px;
}


/* overlay  */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 1000;
}

.modal.active {
    display: flex;
}

.modal_overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    display: none;
    z-index: 1001;
    margin: auto;
}

.modal_overlay.active {
    display: block;
}

.modal_body.active {
    display: block;
}

.modal_body .startDate {
    padding: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

.startDate {
    border-radius: 3px;
}

.startDate #day_start {
    padding: 10px;
    font-size: 20px;
}

.startDate span {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.confirm {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.confirm button {
    margin: 0 4px;
}